/*@font-face
{
    font-family: taFont;
    src: url(fonts/taFont.ttf);
}
 
p
{
   font-family: taFont;
}

*/
*{
font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
font-size: 13px;

}
/**-----------------------------------------*/




nav ul li a{
	color: White;
}

nav ul li { 
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}
nav ul{
list-style-type : none; 
}
header {
	/*background-color: #009989;*/
	/*margin: 5px;*/

}
header ul {
	display: inline-block;
	float: right;
	margin-right: 5% 
}
#logo {
	width: 50%;
	height: 50%
}
#gif{ 
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	text-align: center;
	width: 100%;
}
#reserv{

	margin-left:2.5%; 
	margin-right: 2.5%;

}
#reserv p{
text-align: justify;


}
#reserv h1{

	font-size: 25px;
}
body{
	margin: 0%;
	padding: 0%;
/*	background-color:lightblue;	*/
	/*background-image: linear-gradient(seagreen,darkcyan);*/
	background-image: linear-gradient(to bottom, #009540 0%,#04baee 50%,#004080 100%);

}
img#date{
	display: block;
	text-align: center;
	width: 25%;
	margin: auto;
	border: solid;
}

/*wwwwwwwwwwwwwwwwwwwwwww 4 images wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
#content ul  #asavoir, #aftermovie, #show, #lineup {
	display: inline-block;
	width:24%;
	list-style-type : none; 
	/*height: 60%;*/
	vertical-align:top;
	padding-left:0px;
	text-align: justify;

}

#content ul li #asavoir2, #aftermovie2,  #show2, #lineup2{
	width: 95%;
	margin:auto;
}

#content ul li h2,ul li img,ul li p{

	text-align: center;
/*	background-color: yellow; */

}

#content ul li img{

	width:100%;
	height:100%;

}
	

#aftermovie #aftermovie2 img{
	height: 5%;

}
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
#map{
	width: 49%;
}
form{
	width: 48%;
	border-left: solid; 
	color: Silver;
	height:100%;
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: left;
}

#mapXform {
	width: 100%;
	text-align: center;
	
}

#mapXform form #prenom{
	margin-right: 85px;
	margin-left: 65px;
	width: 155px;
}
#map,form{
display: inline-block;
vertical-align:top;
}

#mapXform form #msg{
	width: 500px;
	height: 250px;
	margin-left: 75px;
}

#mapXform form #button{
	border-style: outset;
	margin-left:300px;
}
#mapXform form #mail{
	width: 460px;
	margin-left: 25px;
}
#mapXform form #photo{
	margin-left: 50px;
}
/*
#mapXform form #nom,#villeN{
	vertical-align:top;
	}*/

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/

footer p{
	text-align: right;
	margin-right: 2%;

	

}
footer {
	border-top: solid; 
	color: Silver;
}

/*
#content h1,p {
	text-align: center ;

}

#content ul p{
	text-align: justify;
	padding: 10px;
}*/



